.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}
.controllerButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.subButtons {
	flex-wrap: wrap;
	display: flex;
	gap: 5px;
}

.title {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
