.title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.empCard {
	display: flex;
	flex-direction: column;
	width: 80%;
	background-color: burlywood;
	align-items: flex-start;
	margin: 10px auto;
	padding: 10px;
	gap: 10px;
	border-radius: 10px;
}

.empNameBlock {
	display: flex;
	gap: 5px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.block {
	display: flex;
	flex-direction: column;
	.span {
		font-weight: bold;
	}
}
